<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="assets/css/tablet.css"
      media="screen and (max-width: 991px)"
    />
    <link
      rel="stylesheet"
      href="assets/css/mobile.css"
      media="screen and (max-width: 540px)"
    />
    <!-- Vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app" class="container">
      <!-- contenitore sx -->
      <div class="left">
        <div class="header-left">
          <div class="header-left-logo">
            <img src="assets/img/avatar_io.jpg" alt="Mio avatar" />
          </div>
          <div class="header-left-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="left-disclaimer">
          <div class="left-disclaimer-logo">
            <i class="fa fa-bell-slash" aria-hidden="true"></i>
          </div>
          <div class="left-disclaimer-text">
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div class="left-searchbar">
          <label class="search-label" for="search">
            <i class="fa fa-search" aria-hidden="true"></i>
          </label>
          <!-- Added search text and call a function to compare text with name of contact -->
          <input
            v-model="searchContact"
            id="contacts-filter"
            class="left-searchbar-input"
            placeholder="Cerca o inizia una nuova chat"
            name="search"
            @keyup="contactSearch"
          />
        </div>

        <!-- Contacts -->
        <div class="contacts">
        <!-- Dynamically added contacts -->
        <!-- Add class active on clicked contact -->
          <div v-for="(contact, index) in contacts" 
          :class="(index == indexActive) ? 'contact active' : 'contact'"
          @click="activeContact(index)"
          v-show="contact.visible">
            <div class="contact-logo">
             <!-- Dynamically added contacts images -->
              <img :src="`assets/img/avatar${contact.avatar}.jpg`" :alt="`Avatar ${contact.name}`" />
            </div>
            <div class="contact-info">
              <h3>
                <!-- Dynamically added names -->
                <span class="contact-name">{{contact.name}}</span>
                <span class="time">16:15</span>
              </h3>
              <small>{{ contact.messages[contact.messages.length - 1].message }}</small>
            </div>
          </div>
        </div>
      </div>
      <!-- /contenitore sx -->
      
      <!-- contenitore dx -->
      <div class="right">
        <div class="header-right">
          <div class="header-right-logo">

            <!-- Added on right container on click show image of contact  -->
            <img :src="`assets/img/avatar${contacts[indexActive].avatar}.jpg`" :alt="`${contacts[indexActive].name}`" />
            <h3>

             <!-- Added on right container on click show name of contact  -->
              <span id="header-right-contact-name">{{contacts[indexActive].name}}</span> <br />
              <small class="time">Ultimo accesso oggi alle 16:26</small>
            </h3>
          </div>
          <div class="header-right-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div  class="right-messages-container">
          <div class="right-messages">
            <!-- For cicle to get elments on array messages -->
            <!-- Dynamically added messages based on status -->
            <div v-for="message in contacts[indexActive].messages" 
            :class="(message.status == 'sent') ? 'message sent' : 'message received'">
              <div  class="message-inner">
                <span class="message-text">
                    {{message.message}}
                </span>
                
                <div class="message-options">
                  <i class="fa fa-chevron-down"></i>
                  <div class="message-options-panel">
                    <div class="message-info">Info messaggio</div>

                    <div @click="removeMessage" class="message-destroy">
                    Cancella messaggio
                  </div>

                  </div>
                </div>
              </div>
              <span class="message-time">{{message.date}}</span>
            </div>
          </div>
        </div>
        
        <div class="right-footer">
          <div class="right-footer-icon">
            <i class="far fa-smile"></i>
          </div>

          <!-- Input footer -->
          <!-- Added function that adds message -->
          <input 
           v-model="textAdded"
           @keyup.enter="addMessage"
           class="new-message-inputs" placeholder="Scrivi un messaggio" />

          <div class="right-footer-icon">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <!-- /contenitore dx -->
    </div>
    <!-- Luxon -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <!-- Script -->
    <script src="assets/data.js"></script>
  </body>
</html>
